<html>

  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/reconnecting-websocket.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    <div class="header">
      <img src="static/img/logo.png" alt="Blockchain" width"361" height="50">
    </div>
    <canvas id="c"></canvas>
  </body>

</html>
